<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container *ngIf="contaService.usuarioAtual$ | async">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/mensagens" routerLinkActive="active">Mensagens</a>
                </li>
            </ng-container>
        </ul>

        <div class="dropdown" *ngIf="(contaService.usuarioAtual$ | async) as usuario" dropdown>
            <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Bem vindo {{usuario.nomeUsuario | titlecase}}</a>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item">Editar perfil</a>
                <a class="dropdown-item" (click)="logout()">Sair</a>
            </div>
        </div>

        <form *ngIf="!(contaService.usuarioAtual$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
            <input 
            name="usuario"
            [(ngModel)]="model.nomeUsuario"
            class="form-control me-2" 
            type="text" 
            placeholder="Usuário">
            <input
            name="senha"
            [(ngModel)]="model.senha"
            class="form-control me-2" 
            type="password" 
            placeholder="Senha">
            <button class="btn btn-success" type="submit">Entrar</button>
        </form>

    </div>
</nav>' '